/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
}
.only-dark-rec {
  position: absolute;
  align-self: start;
  justify-self: end;
  padding-block-start: 20px;
  padding-inline-end: 48px;
  color: var(--accent-color);
  text-align: center;
  font-family: 'IBM Plex Mono';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 138.889% */
}