:root {
  --maintext-color: #F1B2CE;  
  --accent-color: #FF0070;
  --bg-color: rgba(0, 0, 40, 1);
  --titletext-color: #DB00FF;
  --accenttitle-color: #FF0070;
  --bigtext-shadow-title:#FF0070;
}
/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-image: url(../images/cover-image-dark.png);
  background-attachment: fixed;
  background-size: cover;
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
}
.header {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  justify-content: space-between;
  align-items: start;
  justify-items: end;
  min-block-size: 648px;
  min-inline-size: 375px;
  inline-size: 100%;
  padding: 20px;
  block-size: 100vh;
  background-size: cover;
  background-position: 50%;
}

.only-dark-rec {
  position: absolute;
  align-self: start;
  justify-self: end;
  padding-block-start: 20px;
  padding-inline-end: 48px;
  color: var(--accent-color);
  text-align: center;
  font-family: var(--font-family);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 138.889% */
}

.only-dark-rec::after {
  position: absolute;
  content: "";
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0 0 5px 3px var(--accent-color);
  inset-inline-end: 30px;
  inset-block-start: 30px;
}

.header__theme-menu {
  justify-self: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.header__theme-menu-item {
  background: none;
}

.header__theme-menu-button {
  background: none;
  border: none;
  line-height: 18px;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid;
}

.header__theme-menu-button_active {
  pointer-events: none; 
}

.header__title {
  position: relative;
  font-family: var(--font-family);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%; /* 129.525px */
  justify-self: start;
  right: 20px;
  padding-top: 58px;
}

.header__description {
  justify-self: end;
  font-family: var(--font-family);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px; /* 130% */
  margin-block-start: 58px;
  padding-inline-end: 4px;
  width: 50%;
}



.main {
  padding: 60px 20px;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.procrastinate-section {
  display: grid;
  gap: 20px;
  grid-template-columns: max-content 1fr;
  grid-template-rows: 1fr 1fr;
}

.section-title {
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-style: var(--font-style);
  font-weight: var(--font-weight);
  line-height: var(--line-height);
  inline-size: 315px;

}

.article {
  display: flex;
  flex-direction: column;
  gap: 10px;
  
}

.article-move-right {
  grid-column: 2/3;
}

.article-title {
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-style: var(--font-style);
  font-weight: var(--font-weight);
  line-height: var(--line-height);
}

.article-description {
  color: var(--maintext-color);
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-style: var(--font-style);
  font-weight: 400;
  line-height: var(--line-height);
}

.concentration-section {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
}

.section-title-move-ontop {
  grid-column: 1/4;
}

.howto-section {
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-template-rows: repeat(6, max-content);
  gap: 20px;
}

.section-title-move-right {
  grid-row: 1/7;
}

.small-font-weight {
  font-weight: 400;
}

.gallary-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  grid-template-areas: 
    "gallary-title gallary-title gallary-title"
    "sunset-picture sunset-picture ice-cream-picture"
    "tape-picture books-picture ice-cream-picture"
    "tape-picture street-picture street-picture";
}

.gallary-title {
  grid-area: gallary-title;
}

.sunset-picture {
  grid-area: sunset-picture;
}

.ice-cream-picture {
  grid-area: ice-cream-picture;  
}

.tape-picture {
  grid-area: tape-picture;  
}

.books-picture {
  grid-area: books-picture;
}

.street-picture {
  grid-area: street-picture;
}

.image {
  display: block;
  object-fit: cover;
  inline-size: 100%;
  block-size: 100%;
}

.footer {
  position: relative;
  padding: 20px;
  min-block-size: 648px;
  min-inline-size: 375px;
  inline-size: 100%;
  block-size: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-title {
  font-family: var(--font-family);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%; /* 129.525px */
  
}

.text-link {
  display: inline-block;
  text-decoration: none;
}
.text-link:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.text-link:focus {
  outline: none;
}

.text-link:focus-visible {
  outline: 1px solid;
  outline-offset: -7px;
}

.corner::before {
  content: '';
  position: absolute;
  min-inline-size: 25px;
  min-block-size: 25px;
  inset-inline-start: 20px;
  inset-block-end: 20px;
}

.corner::after {
  content: '';
  position: absolute;
  min-inline-size: 25px;
  min-block-size: 25px;
  inset-inline-end: 20px;
  inset-block-start: 20px;
}

@media (max-width: 768px) {
  .header__theme-menu {
    position: relative;
    justify-self: end;
    align-self: self-end;
    top: -58px;
  }
  .header__theme-menu-list {
    flex-direction: column;
  }
  .header__title {
    top: 60px;
  }

  .header__description {
    margin-block-start: 50px;
    width: 364px;
    height: 117px;
  }
  
  .section-title {
    inline-size: 236px;
  }

  .concentration-section {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 375px) {
  .header {
    padding: 10px;
    justify-content: end;
  }
  
  .only-dark-rec {
    padding-block-start: 10px; 
    padding-inline-end: 38px;  
  }

  .corner::before {
    inset-inline-start: 10px;
    inset-block-end: 10px;
  }

  .corner::after {
    inset-inline-end: 10px;
    inset-block-start: 10px;
  }
  
  .only-dark-rec::after {
    inset-inline-end: 19px;
    inset-block-start: 18px;
  }

  button {
    padding: 1px 12px 5px;
  }

  .header__theme-menu {
    position: static;
    padding-block-end: 8px;
    padding-inline-end: ;
    
  }

  .header__title {
    position: static;
    padding-block-end: 57px;
    font-size: 116px;
  }

  .header__description {
    inline-size: 355px;
    margin-block-start: -2px;
  }

  .main {
    padding: 40px 10px;
    gap: 50px;
  }

  .procrastinate-section {
    display: flex;
    flex-direction: column;
  }

  .section-title {
    inline-size: 354px;
  }
  
  .howto-section {
    display: flex;
    flex-direction: column;
  }

  .gallary-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .footer {
    padding: 10px;
  }

  .footer-title {
    font-size: 116px;
    margin-block-start: 3px;
  }
}
  
